<div class="holiday-list" *ngIf="holidays.interHolidays.ready">
  <div>
    <img class="holiday-inter-logo" src="assets/images/interHoli.png">
  </div>
  <div>{{holidays.interHolidays.name}}</div>
</div>
<div class="holiday-list" *ngIf="holidays.rusHolidays.ready">
  <div>
    <img class="holiday-rus-logo" src="assets/images/russia-flag-square-icon-64.png">
  </div>
  <div>{{holidays.rusHolidays.name}}</div>
</div>
<div class="holiday-list-dayOf"> 
<div>
  <img class="holiday-inter-logo" src="assets/images/dayOff.png">
</div>
  <div>{{dayOff}}</div>
</div>
