:host {
  display: block;
}

.holiday-list {
  font-size: 16px;
  color: white;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  min-height: 48px;
}

.holiday-inter-logo {
  width: 40px;
  height: 40px;
  margin: auto 10px;
}

.holiday-rus-logo {
  width: 40px;
  height: 40px;
  margin: auto 10px;
  border-radius: 50%;
}

.holiday-list-dayOf {
  font-size: 24px;
  color: white;
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  min-height: 48px;
}