<div class="intro-container">
  <div class="title">
    <span>Welcome to Smart calendar!</span>
  </div>
  <div class="content">
    <div class="description">
      Smart calendar is your good helper for planning.
       It shows you international and russian holidays, and allows you to make your personal daily notes. 
       With Smart calendar you can be sure about national day-offs. 
       You also can safely take the weather forecast for 10 days into account, and know whether
        it was rainy or sunny during the last 10 days and more.
         
    </div>
    <div class="image-container">
      <img class="image" src="assets/images/intro.png">
    </div>
  </div>
  <div class="btn-container">
    <a class="btn btn-light btn-lg"
                   href="#"
                   role="button"
                   routerLink="/calend"
                >Start</a>

  </div>
</div>

