<div class="notes-container">
  <div class="note-title">Notes</div>
  <div class='note'>
    <form [formGroup]="form"
          (submit)="onSubmit()">
      <textarea class="note-text"
                formControlName="notes">
      </textarea>
      <button class="btn-save"
              type="submit"
              [disabled]="form.pristine || pristine">Save
      </button>
    </form>
  </div>
</div>
