:host() {
  display: block;
}

.note-text {
  border: none;
  overflow: auto;
  outline: none;
  vertical-align: top;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 170px;;
  resize: none;
  width: 100%;
  background-color: transparent;
  color: rgb(53, 52, 52);
  font-size: 20px;
}

.notes-container {
  padding: 0 10px 10px;
  margin-top: 10px;
}

.note-title {
  font-size: 24px;
  color: rgb(53, 52, 52);
  margin-left: 10px;
}

.note {
  border-radius: 16px;
  background-color: #a2b2c0;
  padding: 5px;
}

.btn-save {
  padding: 0 20px;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in;
  text-align: center;
  border: none;
  border-radius: 16px;
  margin: 0 auto;
  display: block;
}

.btn-save:hover {
  background-color: rgb(53, 52, 52);
  color: white;
}

.btn-save:active {
  background-color: white;
  color: rgb(53, 52, 52);
}

.btn-save:focus {
  outline: none;
}
