:host {
  background-color: rgb(53, 52, 52);
  border-radius: 16px;
  padding: 8px 4px;
  max-width: 1110px;
  margin: 0 auto;
  display: block;
  color: white;
}

.navi {
  display: flex;
  justify-content: space-between;
}

a {
  display: block;
  text-decoration: none;
}

.btn {
  margin: 0 4px;
  padding: 0 8px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  transition: all 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn:hover {
  background-color: #6c757d;
  cursor: pointer;
}

.btn:active {
  background-color: white;
  color: black;
  cursor: pointer;
}

.sign{
  display: flex;
}

.login {
  display: flex;
}
.start {
  display: flex;
  min-width: 98px;
}
