<div class="navi">

  <div class="start">
    <a routerLink="/"
       *ngIf="url !== '/'"
      class="btn">
        start page
      </a>
      <a [routerLink]="['/calend', today]"
       *ngIf="(isLoggedIn$ | async) && url === '/'"
        class="btn">
        calendar
    </a>
  </div>

  <div class="login">
    <span *ngIf="(user$ | async)">
      login: {{ (user$ | async).email }}
    </span>
    
  </div>

  <div class="sign">
    <a routerLink="/login"
       *ngIf="(url !== '/login') && !(isLoggedIn$ | async)"
       class="btn">
       sign in
    </a>
    <a class="btn"
       (click)="logOut()"
       *ngIf="(url !== '/login') && (isLoggedIn$ | async)">
       sign out
    </a>
    <a class="btn"
       (click)="changeUser()"
       *ngIf="(url !== '/login') && (isLoggedIn$ | async)">
       change User
    </a>
  </div>

</div>