:host {
  display: block;
}

.day {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  transition: all 0.2s ease-in;
  border: transparent 3px solid;
  line-height: 44px;
}


.enable {
  color: white;
}

.enable:hover {
  background-color: #6c757d;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.today {
  border-color: rgb(16, 0, 32);
  color: white;
}

.disable {
  color: #6c757d;
}

.enable-sel {
  border-color: white;
  color: white;

}

.disable-sel {
  border-color: #6c757d;
  color: #6c757d;
}

a {
  display: block;
  text-decoration: none;
}