<div class="date">
{{date?.toDateString()}}
</div>
<div *ngIf="!loadingFinish" class="loading-container">
  <img class="loading" src="assets/images/stars.gif">
</div>
<div class="weather-container" *ngIf="loadingFinish">
  <div class="weather-headlist ">
    <div class="weather-header">
      <div class="city-title">
        {{climate?.city}}
      </div>
      <div class="weather-state">
        {{climate?.description}}
      </div>
    </div>
    <div>
      <img
      [src]="climate?.icon"
      [class.weather-icon]="climate?.ready"
      [class.weather-soon]="!climate?.ready">
    </div>
  </div>
<ng-container *ngIf="climate?.ready">
  <div class="weather-list"*ngFor="let indication of indications" >
    <div>
      <img [class]="indication?.class" [src]="indication?.icon">
    </div>
    <div >{{indication?.info}}</div>
  </div>
</ng-container>

</div>

