:host {
  display:block;
}

.weather-headlist {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.loading-container {
  text-align: center;
}

.loading {
  max-width: 366px;
  height: 235px;
}

.weather-header {
  min-width: 140px;
}

img {
 vertical-align: top;
}

.city-title {
  font-size: 36px;
  color: white;
  text-align: center;
  max-width: 264px;
  overflow: hidden;
}

.weather-state {
  font-size: 24px;
  color: white;
  text-align: center;
}

.weather-list {
  font-size: 24px;
  color: white;
  display: flex;
  margin-bottom: 5px;
}

.weather-temp-logo {
  width: 40px;
  height: 40px;
  vertical-align: top;
}

.weather-hum-logo {
  width: 25px;
  height: 40px;
  vertical-align: top;
  margin: 0 10px 0 10px;
}

.weather-bar-logo {
  width: 40px;
  height: 40px;
  vertical-align: top;
  margin: 0 5px;
}

.date {
  margin: 10px auto 5px;
  font-size: 24px;
  color: white;
  display: flex;
  text-align: center;
  max-width: 300px;
  border-bottom: solid 3px white;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.weather-soon {
  width: 100px;
  height: 100px;
  padding: 20px;
  box-sizing: border-box;
}