:host {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1110px
}

.calendar-container {
  margin: auto 0;
  width: 66%;
  display: inline-block;
  vertical-align: top;
  min-width: 420px;
}

.info-container {
  margin: auto 0 0 8px;
  min-height: 30vh;
  width: 33%;
  display: inline-block;
  background-color: #6c757d;
  border-radius: 24px;
}