:host {
  display: block;
  background: rgb(16, 0, 32);
  margin: 0;
  min-width: 800px;
  min-height: 100vh;
  padding-top: 20px;
  padding-bottom: 10px;
}

.state-container {
  padding-top: 132px;
}

.app-container {
    margin-left: calc(100vw - 100%);
}

@media screen and (max-height: 876px) {
  .state-container {
    padding-top: 50px;
  }
}

