<div class="calendar-navi">
  <button type="button" class="button-left" (click)="decMonth()" [disabled]="veryLittle">
    Prev
  </button>
  <div class="month-title">{{months[date.getMonth()]}} {{date.getFullYear()}}</div>
  <button type="button" class="button-right" (click)="incMonth()" [disabled]="veryBig">
    Next
  </button>
</div>
<pro-calend-body
  [dateSelected]="dateSelected"
  [weeksMap]="weeksMap"
  [month]="month"
  [year]="year" 
  [today]="today" 
  >
</pro-calend-body>
