:host {
  display: block;
}

.calendar-navi {
  background-color: rgb(53, 52, 52);
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: space-between;
  border-radius: 24px;
  padding: 8px;
}

.form-container {
   display: flex;
   justify-content: space-around;
 }
 
 .month-title {
   color: white;
   margin: auto;
   font-size: large;
 }

 .button-right {
  padding: 0 10px;
  border: solid #6c757d 3px;
  font: inherit;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  transition: all 0.2s ease-in;
}

.button-right:hover {
  background-color: #6c757d;
  transition: all 0.2s ease-in-out;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  
}

.button-right:active {
  background-color: white;
  color: #6c757d;
  transition: all 0.2s ease-in;
  border-color:white;
}

.button-right:focus {
outline: none; 
}

.button-left {
  padding: 0 10px;
  border: solid #6c757d 3px;
  font: inherit;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  transition: all 0.2s ease-in;
}

.button-left:hover {
  background-color: #6c757d;
  transition: all 0.2s ease-in-out;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  
}

.button-left:active {
  background-color: white;
  color: #6c757d;
  transition: all 0.2s ease-in;
  border-color:white;
}

.button-left:focus {
  outline: none; 
}


