<div class="calendar-header">
  <div class="calendar-weekday" *ngFor="let weekday of weekdays">{{weekday}}</div>
</div>
<div class="calendar-row" *ngFor="let week of weeks">
      <pro-day *ngFor="let day of week"
        [today]="today"
        [day]="day"
        [month]="month"
        [year]="year"
        (onDaySelected)="dateTransport($event)"
        [dateSelected]="dateSelected">
      </pro-day>
</div>
