:host {
  display: block;
  background-color: rgb(53, 52, 52);
  width: 100%;
  margin: 8px auto;
  border-radius: 16px;
  padding-bottom: 20px;
}

.calendar-row {
  border-bottom: solid #6c757d 3px;
  width: 100%;
  display: flex;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  transition: all 0.2s ease-in;
}

.calendar-header {
  background-color: #6c757d;
  display: flex;
  justify-content: space-around;
  border-radius: 16px;

}
.calendar-weekday {
  text-align: center;
  width: 90px;
  /* border: solid red 1px; */
  font-size: larger;
  color: white;
}



