:host {
  display: block;
  box-sizing: border-box;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1110px
}

.login-container {
  min-height: 300px;
  background-color: rgb(53, 52, 52);
  color: white;
  padding: 30px;
  border-radius: 16px;
  width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 30px;
  border-bottom: solid 3px #6c757d;
  width: 500px;
  margin: 0 auto;
}

.login-body {
  padding-top:20px;
  width: 500px;
  margin: 0 auto;
}

#password {
  background-color: transparent;
  outline: none;
  color: white;
  border-color: #6c757d;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 200px;
}

#emailLogin {
  background-color: transparent;
  outline: none;
  color: white;
  border-color: #6c757d;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  width: 200px;
}

#password:focus {
  outline: none;
  width: 500px;
  
}

#emailLogin:focus {
  outline: none;
  width: 500px;
}

.or {
  font-size: 18px;
  color: white;
  padding: 6px 10px;
}
