<div class="login-container">
    <div class="title">
        <span>Sign In</span>
      </div>
    <div class="login-body">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
                    {{errorMessage}}
        </div>
        
        
        <form [formGroup]="form" (submit)="submit()">
            <div class="form-group">
                <label for="emailLogin">Email</label>
                <input type="email"
                       formControlName="email"
                       class="form-control"
                       [class.is-invalid]="email.invalid && email.touched"
                       id="emailLogin"
                       aria-describedby="email"
                       placeholder="email">
                <div class="invalid-feedback" *ngIf="email.errors?.required">
                    you must fill in this field
                </div>
                <div class="invalid-feedback" *ngIf="email.errors?.email || email.errors?.pattern">
                    invalid email
                </div>
                
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password"
                       formControlName="password"
                       autocomplete="off"
                       class="form-control"
                       [class.is-invalid]="password.invalid && password.touched"
                       id="password"
                       placeholder="password">
                <div class="invalid-feedback" *ngIf="password.errors?.required">
                    you must fill in this field
                </div>
                <div class="invalid-feedback" *ngIf="password.errors?.minlength">
                    minimal length is 6 symbols
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit"
                        [disabled]="form.invalid"
                        class="btn btn-light">sign in
                </button>
                <span class="or">or</span>
                <button type="button"
                        (click)="signUp()"
                        [disabled]="form.invalid"
                        class="btn btn-light">sign up
                </button>
            </div>
        </form>

    </div>
</div>


  


