<div class="nf-container">
  <div class="title">
    <span>Hmm... Sorry </span>
  </div>
  <div class="content">
    <div class="description">
      The page you’re looking for can’t be found.
         
    </div>
    <div class="image-container">
      <img class="image" src="assets/images/7VE.gif">
    </div>
  </div>
</div>
