.nf-container {
  min-height: 500px;
  background-color: rgb(53, 52, 52);
  color: white;
  padding: 40px;
  border-radius: 16px;
}

:host {
  display: block;
  /* padding-top: 200px; */
  box-sizing: border-box;
  margin: 0 auto;
  
  min-width: 800px;
  max-width: 1110px
}

.title {
  font-size: 48px;
  border-bottom: solid 3px #6c757d;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 20px;
}

.description {
  min-width: 400px;
  min-height: 256px;
  padding-left: 20px;
  font-size: 30px;
}

.image {
  width: 256px;
  height: 256px;
  margin-left: 20px;
}

img {
  vertical-align: top;
}